

*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url(background.png);
    overflow-x: hidden;

}

.image-container{
    background-color: #265c08;
    width: 100%;
    text-align: center;
}

.image{
    opacity: 0.8;
}

.title{
    text-align: left;
    margin: 40px 0px 19px 249px;
}

.avatar{
    text-align: left;
}

.main-content{
    text-align: center;
    position: relative;
    /* margin-left: 25%;
    width: 100%; */
    left: 25%;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}

.movie-info-rating{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    border: 0.3rem solid #80817f;
    border-radius: 4px;
}

#total-rating{
    width: 100%;
    background-image: url(rbg.png);
    color: red;
    font-size: 4rem;
    display: flex;
}

.comment{
    flex: 40%;
    margin: 1rem;
}

.comment p:first-child{
    padding: 0.5rem;
    border: 1px solid black;
    background-color: #e9db99;
    border-radius: 0.7rem;
}

.comment p:nth-child(2){
    padding-top: 0.5rem;
}

.comments{
    display: flex;
    flex-wrap: wrap;
}

#page-number{
    background-color: #a1b963;
    text-align: center;
}

.movie-info{
    background-color: #a1b963;
}

.movie-info dd{
    text-align: left;
    margin-left: 40px;
}

.movie-info dt{
    font-weight: bold;
    padding-top: 1rem;
    text-align: left;
    margin-left: 5px
}

.movie-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#validation{
    float: right;
}