body {
    text-align: center;
    box-sizing: border-box;
    background-color: #CCCCFF;
}

fieldset{
    width: 140px;
    border: 4px solid black;
    margin-left: 15px;
    margin-right: 15px;
}

.controller{
    display: flex;
    margin-left: 25%;
}

textarea{
    font-size: 12px;
}